.markerItemWrap {
  cursor: pointer;
  background: #28282e;
  color: #fff;
  border-radius: 3px;
  padding: 5px; }
  .markerItemWrap .priceCon {
    font-size: 20px; }
  .markerItemWrap span {
    color: #fff; }
