.property-page {
  background: #fff; }
  .property-page .property-image {
    height: 274px;
    overflow: hidden;
    position: relative; }
    .property-page .property-image img {
      width: auto;
      height: 114%; }
    .property-page .property-image .property-image__explore {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: block;
      background-color: rgba(0, 0, 0, 0.42);
      padding: 8px;
      color: white; }
  .property-page .property-name {
    display: block;
    padding: 17px 14px;
    text-align: left;
    font-size: 1.3rem;
    color: #616161;
    line-height: 1.2;
    font-weight: bold; }
  .property-page .property-tag {
    display: block;
    background-color: #76b236;
    padding: 10px 4px;
    font-weight: bold; }
    .property-page .property-tag span {
      color: white; }
  .property-page .property-info {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    margin-top: 11px; }
    .property-page .property-info > div {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: center; }
      .property-page .property-info > div > img {
        width: 32%;
        margin-bottom: 10px; }
      .property-page .property-info > div > span {
        font-size: 0.9rem; }
  .property-page .property-price {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 8px 0; }
  .property-page .property-button {
    background: #092f62;
    color: white;
    font-size: 1rem;
    display: block;
    width: 92%;
    text-align: center;
    margin: 0 auto;
    padding: 19px;
    border-radius: 10px; }
