.chatbot {
  height: 100%; }
  .chatbot .rsc-content {
    height: 92%; }
  .chatbot .rsc-container {
    z-index: auto; }
  .chatbot .rsc-os-option-element {
    background: #03a9f4; }
  .chatbot .rsc-footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
