

span {
  color: #565656;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #092f63;
}
.splash {
  width: 100%;
  height: 100vh;
  background-color: #003372;
  top: -57px;
  z-index: 999;
  position: absolute;
  > img {
    margin-top: 73%;
    width: 45%;
    height: auto;
  }
}

.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
}

.transition-wrapper {
  position: relative;
  min-height: 250px;
  height: 100vh;
  .transition-item {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.chatbot-page,
.maps-page,
.streetview-page,
.home-page,
.property-page {
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.5s, opacity 0.5s;

  &.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.maps-page {
  transform: translate3d(0, 0, 0);
}

.home-page {
  transform: translate3d(0, 0, 0);
}

.streetview-page {
  transform: translate3d(0, 0, 0);
}

.nav-street-view {
  box-sizing: border-box;
  background: rgba(#03a9f4, 0.8);
  position: fixed;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  z-index: 1;
  bottom: 15px;
  left: 15px;
  padding: 8px;
  svg {
    width: 30px;
  }
}
