.property-tag {
  display: block;
  padding: 10px 4px;
  font-weight: bold;
  &.green {
    background-color: #76b236;
  }
  &.amber {
    background-color: #b2721e;
  }
  &.red {
    background-color: #b21f13;
  }
  span {
    color: white;
  }
}